@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeSpeed !important;
	scroll-behavior: smooth !important;
	font-family: "Poppins", sans-serif !important;
}

:root {
	--color-black: #11142d !important;
	--color-white: #fff !important;
	--color-primary: #6c5dd3 !important;
	--color-primary-darker: #3a2ca0 !important;
	--color-secondary: #808191 !important;
	--color-secondary-darker: #1b1d21 !important;
	--color-secondary-lighter: #e4e4e4 !important;
	--color-gradient: radial-gradient(103.03% 103.03% at 0% 0%, #d080ff 0%, #6c5dd3 100%);
}

html,
body,
div,
a,
img,
nav {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

img,
a img {
	border: none;
}

button {
	cursor: pointer;
	background: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
}

div,
button,
a,
a:focus {
	outline: none;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

a,
button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-home {
	width: 1em;
	height: 1em;
	fill: var(--color-secondary);
}

/* ----------- TYPOGRAPHY ----------- */
.h5 {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.33333;
}

/* ------------- BUTTON ------------- */
.btn {
	min-width: 114px;
	height: 56px;
	padding: 0 24px;
	border-radius: 16px;
	font-size: 14px;
	font-weight: 600;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.btn-primary {
	background: var(--color-primary);
	color: var(--color-white);
}

.btn-primary:hover {
	background: var(--color-primary-darker);
}

/* --------- HISTORY BUTTON --------- */
.more {
	margin-top: 32px;
	text-align: center;
}

.more-btn {
	position: relative;
}

/* -------------- PAGE -------------- */
.page {
	overflow: hidden;
}

.page-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	padding-left: 255px;
	-webkit-transition: padding 0.2s;
	-o-transition: padding 0.2s;
	transition: padding 0.2s;
}

/* ------------- SIDEBAR ------------ */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 15;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 255px;
	background: var(--color-white);
	border-right: 1px solid var(--color-secondary-lighter);
	padding: 132px 20px 72px;
	-webkit-transition: width 0.2s;
	-o-transition: width 0.2s;
	transition: width 0.2s;
}

.sidebar-head {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 132px;
	padding-top: 12px;
}

.sidebar-logo {
	display: inline-block;
	margin-right: 28px;
	font-size: 0;
}

.sidebar-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: auto;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-overflow-style: none;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
}

.sidebar-body::-webkit-scrollbar {
	display: none;
}

.sidebar-nav {
	margin-bottom: 32px;
}

.sidebar-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 56px;
	padding: 0 20px;
	border-radius: 12px;
	white-space: nowrap;
	font-weight: 600;
	color: var(--color-secondary);
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.sidebar-item:hover,
.sidebar-item.active {
	color: var(--color-primary);
}

.sidebar-item:hover .icon,
.sidebar-item.active .icon {
	fill: var(--color-primary);
}

.sidebar-item.active {
	background: rgba(228, 228, 228, 0.3);
}

.sidebar-icon {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	font-size: 0;
}

.sidebar-icon .icon {
	font-size: 22px;
	fill: var(--color-secondary);
	-webkit-transition: fill 0.2s;
	-o-transition: fill 0.2s;
	transition: fill 0.2s;
}

.sidebar-icon:before {
	content: "";
	position: absolute;
	top: -4px;
	right: -4px;
	width: 8px;
	height: 8px;
	background: #ff6628;
	border-radius: 50%;
	opacity: 0;
}

.sidebar-item .sidebar-text {
	margin-left: 16px;
}

/* ------------- HEADER ------------- */
header {
	position: relative;
	z-index: 10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 48px 64px 36px;
}

.header-logo {
	display: none;
	margin-right: auto;
}

.header-logo img {
	width: 60px;
}

.header-user {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 48px;
	margin-left: 36px;
}

.header-user img {
	min-width: 100%;
	height: 48px;
	border-radius: 50%;
	overflow: hidden;
}

/* -------------- TABLE ------------- */
table {
	width: -webkit-fill-available;
	/* color: #666; */
	text-shadow: 1px 1px 0px #fff;
	background: #eaebec;
	/* border: #ccc 1px solid; */
	border-radius: 42px;
	/* border: none !important; */
}

table th {
	padding: 15px 35px;
	background: #ededed;
}

table th:first-child {
	border-left: none;
}

table tr {
	text-align: center;
	padding-left: 20px;
}

td {
	padding: 16px 36px;
	background-color: var(--color-white);
}
table td {
	padding: 16px 36px;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table td:first-child {
	width: 5%;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

/* -------------- SALE -------------- */
.sale {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sale-container {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 0 64px 64px;
}

.sale-stage {
	margin-bottom: 16px;
}

/* ---------------------------------- */
/*                 RWD                */
/* ---------------------------------- */

/* -------------- TABLET -------------- */
@media only screen and (max-width: 1024px) {
	.page-content {
		-webkit-transition: -webkit-transform 0.2s;
		transition: -webkit-transform 0.2s;
		-o-transition: transform 0.2s;
		transition: transform 0.2s;
		transition: transform 0.2s, -webkit-transform 0.2s;
	}
	.page-content {
		padding-left: 96px;
	}
	.sidebar {
		padding-bottom: 90px;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}
	.sidebar {
		width: 96px;
	}
	.sidebar-logo {
		display: none;
	}
	.sidebar-item {
		padding: 0 16px;
	}
	header {
		padding: 32px;
	}
	.header-logo {
		display: inline-block;
	}
	.sale-container {
		padding: 0 32px 32px;
	}
}

/* ------------- MOBILE ------------- */
@media only screen and (max-width: 767px) {
	.sidebar {
		display: none;
	}
	.page-content {
		padding: 0 32px;
	}
	header {
		padding: 24px 16px;
	}
	.header-logo img {
		width: 46px;
	}
	.header-user {
		display: none;
	}
	.sale-container {
		padding: 0 16px 32px;
	}
}
