* {
    font-family: "Poppins", sans-serif;
}

::selection {
    color: #ffffff;
    background: #ff4fc4;
}

body {
    box-sizing: border-box;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    overflow: hidden;
}

.container {
    background-color: white;
    max-width: 95%;
    margin: 110px auto;
    border-radius: 40px;
    filter: drop-shadow(0px 0px 2px #000000);
}

.container .nav {
    display: flex;
    align-items: baseline;
}

.container .nav .logo {
    display: flex;
    justify-content: center;
}

.container .nav .logo p {
    font-size: 40px;
    color: #6c5dd3;
    width: 20%;
}

.container .nav .logo span {
    color: #d080ff;
}

.container .nav .links {
    display: inherit;
    justify-content: end;
    width: 80%;
}

.container .nav .links a {
    font-size: 30px;
    background-image: linear-gradient(45deg, #d080ff, #6c5dd3);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px 50px;
}

.container .main {
    display: flex;
    padding: 40px;
}

.container .main .tulisan {
    font-size: 30px;
    width: 50%;
}

.container .main .tulisan h3 {
    color: #d080ff;
}

.container .main .tulisan h5 {
    color: #6c5dd3;
}

.container .main p {
    font-size: 20px;
    flex-wrap: wrap;
}

.container .main .gambar {
    width: 50%;
}

.container .main .gambar img {
    display: flex;
    width: 50%;
    margin: auto;
    animation: upDown 5s infinite ease;
}

@keyframes upDown {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
}

.container .signup {
    display: flex;
    padding: 0px 40px;
}

.container .signup input {
    font-size: 30px;
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 50px;
    color: white;
    border: none;
    background-image: linear-gradient(-135deg, #d080ff, #6c5dd3);
}

.container .signup input:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
}

.container .foot {}

.container .foot .icon {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding-bottom: 30px;
}

.container .foot .icon a i {
    padding: 20px;
    margin: 0px 20px;
    background-image: linear-gradient(-135deg, #d080ff, #6c5dd3);
    border-radius: 40px;
    color: white;
    font-size: 30px;
}

.container .foot .icon a i:hover {
    transition: all 1s ease-out;
    transform: scale(1.2);
}

.cf:after {
    clear: both;
}

@media (max-width: 600px) {
    .container .nav {
        display: block;
        flex-wrap: wrap;
    }
    .container .nav .logo {
        width: 100%;
        justify-content: start;
        padding: 0px 50px;
    }
    .container .nav .logo p {
        font-size: 40px;
    }
    .container .nav .links {
        display: block;
        width: 100%;
    }
    .container .main {
        display: block;
    }
    .container .main .tulisan {
        width: 100%;
    }
    .container .main .gambar {
        width: 100%;
        display: block;
    }
    .container .signup input {
        width: 100%;
        justify-content: center;
    }
    .container .foot {
        margin-top: 50px;
    }
}